@using Ofqual.Common.RegisterFrontend.Models.APIModels;
@using Ofqual.Common.RegisterFrontend.Extensions;
@model Qualification
@{
    ViewData["Title"] = "Find a regulated qualification";
    ViewData["HomePage"] = "find-regulated-qualifications";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-m">
            @Model.Title
        </h1>
        <div class="govuk-summary-card" id="qual-summary">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Qualification summary</h2></div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    @if (Model.Type.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Qualification type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Type
                            </dd>
                        </div>
                    }

                    @if (Model.Level.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Qualification level
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Level
                            </dd>
                        </div>
                    }

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Qualification number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.QualificationNumber
                        </dd>
                    </div>

                    @if (Model.GLH != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Guided learning hours
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.GLH
                            </dd>
                        </div>
                    }

                    @if (Model.TQT != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Total qualification time
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.TQT
                            </dd>
                        </div>
                    }
                    @if (Model.AssessmentMethods.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Assessment methods
                            </dt>
                            <dd class="govuk-summary-list__value">

                                @String.Join(", ", Model.AssessmentMethods!)

                            </dd>
                        </div>
                    }
                    @if (Model.LinkToSpecification.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Specification
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="@Model.LinkToSpecification">View this qualification's specification</a>
                            </dd>
                        </div>
                    }
                    @if (Model.SSA.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sector subject area
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.SSA
                            </dd>
                        </div>
                    }
                    @if (Model.GradingScale.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Grading scale
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.GradingScale
                            </dd>
                        </div>
                    }
                    @if (Model.ApprenticeshipStandardTitle.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                End-point assessment standard
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.ApprenticeshipStandardTitle (@Model.ApprenticeshipStandardReferenceNumber)
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card" id="org">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Organisation</h2></div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="/organisations/@Model.OrganisationRecognitionNumber">@Model.OrganisationName</a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        @if (Model.GradingType.IsNotNull())
        {
            <div class="govuk-summary-card" id="details">
                <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Further details</h2></div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Grading type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.GradingType
                            </dd>
                        </div>
                    </dl>
                </div>

                @if (Model.Specialism.IsNotNull())
                {
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Specialisms
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.Specialism
                                </dd>
                            </div>
                        </dl>
                    </div>
                }

            </div>
        }
        <div class="govuk-summary-card" id="funding-details">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Funding details</h2></div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Funding in England
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="https://www.qualifications.education.gov.uk/Qualification/@Model.QualificationNumberNoObliques">Check if this qualification is funded in England</a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card" id="availability">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Availability</h2></div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    @if (Model.Status.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-label__green">@Model.Status</div>
                            </dd>
                        </div>
                    }
                    @if ((Model.OfferedInEngland ?? false) || (Model.OfferedInNorthernIreland ?? false) || (Model.OfferedInternationally ?? false))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                National availability
                            </dt>
                            <dd class="govuk-summary-list__value">

                                @{
                                    if (Model.OfferedInEngland ?? false)
                                    {
                                        <text>
                                            England
                                        </text>
                                    }
                                    if (Model.OfferedInNorthernIreland ?? false)
                                    {
                                        <text>
                                            Northern Ireland
                                        </text>
                                    }
                                    if (Model.OfferedInternationally ?? false)
                                    {
                                        <text>
                                            International
                                        </text>
                                    }
                                }
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
        @if (Model.OfferedInNorthernIreland ?? false)
        {
            <div class="govuk-summary-card" id="northern-ireland">
                <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Northern Ireland</h2></div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Available in Northern Ireland
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    if (Model.OfferedInNorthernIreland ?? false)
                                    {
                                        <text>Yes</text>
                                    }
                                    else
                                    {
                                        <text>No</text>
                                    }
                                }
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Funded in Northern Ireland
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="https://www.education-ni.gov.uk/articles/qualifications#toc-main-skip">Check if this qualification is funded in Northern Ireland</a>
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        }
        <div class="govuk-summary-card" id="additional-info">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Additional information</h2></div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Regulation start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <time datetime="@Model.RegulationStartDate.ToString("dd-MM-yyyy")" lang="en">@Model.RegulationStartDate.ToString("dd MMMM yyyy")</time>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Operational start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <time datetime="@Model.OperationalStartDate.ToString("dd-MM-yyyy")" lang="en">@Model.OperationalStartDate.ToString("dd MMMM yyyy")</time>
                        </dd>
                    </div>
                    @if (Model.OperationalEndDate != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Operational end date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <time datetime="@Model.OperationalEndDate?.ToString("dd-MM-yyyy")" lang="en">@Model.OperationalEndDate?.ToString("dd MMMM yyyy")</time>
                            </dd>
                        </div>
                    }
                    @if (Model.CertificationEndDate != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Final certification date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <time datetime="@Model.CertificationEndDate?.ToString("dd-MM-yyyy")" lang="en">@Model.CertificationEndDate?.ToString("dd MMMM yyyy")</time>
                            </dd>
                        </div>
                    }

                    @if (Model.EQFLevel != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                European qualification level
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.EQFLevel
                            </dd>
                        </div>
                    }

                    @if (Model.Pathways != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Optional Routes
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Pathways
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

    </div>
</div>