@using Ofqual.Common.RegisterFrontend.Models.SearchViewModels;
@model SearchResultViewModel<QualificationListViewModel>


@{
    ViewData["Title"] = "Find a regulated qualification";
}
<div class="govuk-grid-row">
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Qualification search</h1>
        <p class="govuk-body">Select all the qualifications you want to compare.</p>

        <div class="app-search govuk-!-margin-bottom-4">
            <form action="Search" method="get" novalidate="">
                <div class="govuk-form-group">
                    <label class="govuk-label app-search__label govuk-label--s" for="selected-qualification">
                        Search for a qualification
                    </label>
                    <input class="govuk-input app-search__input " id="selected-qualification" name="selected-qualification" type="search" value="@Model.Title">
                </div>
                <button class="govuk-button app-search__button" data-module="govuk-button">
                    Search
                </button>
            </form>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    </div>

    <div class="govuk-grid-column-one-third">
        <div class="app-filter__header">
            <div class="app-filter__header-title">
                <h2 class="govuk-heading-m">Filter</h2>
            </div>
            <div class="app-filter__header-action">
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem is-open">
                <h3 class="accordionTitle is-open" id="availability">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">Availability</button>
                    @* <div class="selected-counter"><span id="selected">1</span> selected</div> *@
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="availability_available" name="availability" type="checkbox" value="available">
                                    <label class="govuk-label govuk-checkboxes__label" for="availability_available">
                                        Available
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="availability_nolongerawarded" name="availability" type="checkbox" value="No longer awarded">
                                    <label class="govuk-label govuk-checkboxes__label" for="availability_nolongerawarded">
                                        No longer awarded
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="availability_notavailabletonewlearners" name="availability" type="checkbox" value="Not available to new learners">
                                    <label class="govuk-label govuk-checkboxes__label" for="availability_notavailabletonewlearners">
                                        Not available to new learners
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="availability_notyetavailable" name="availability" type="checkbox" value="Not yet available">
                                    <label class="govuk-label govuk-checkboxes__label" for="availability_notyetavailable">
                                        Not yet available
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="qual-type">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">Qualification type</button>
                    <div class="selected-counter"><span id="selected">0</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                @foreach (var item in ((QualificationFilterModel)Model.Filters!).QualificationTypes!)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="@item" name="@item" type="checkbox" value="@item">
                                        <label class="govuk-label govuk-checkboxes__label" for="@item">
                                            @item
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="qualification-level">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">Qualification level</button>
                    <div class="selected-counter"><span id="selected">0</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                @foreach (var item in ((QualificationFilterModel)Model.Filters!).QualificationLevels!)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="@item" name="@item" type="checkbox" value="@item">
                                        <label class="govuk-label govuk-checkboxes__label" for="@item">
                                            @item
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="organisation">
                    <span class="govuk-visually-hidden">Select filters for </span><button class="accordionItem__button" type="button">Organisation</button>
                    <div class="selected-counter"><span id="selected">0</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                @foreach (var item in ((QualificationFilterModel)Model.Filters!).Organisations!)
                                {
                                     <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="@item" name="@item" type="checkbox" value="@item">
                                        <label class="govuk-label govuk-checkboxes__label" for="@item">
                                            @item
                                        </label>
                                    </div>
                                } 
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="sector subject area">
                    <span class="govuk-visually-hidden">Select filters for </span><button class="accordionItem__button" type="button">Sector subject area</button>
                    <div class="selected-counter"><span id="selected">1</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                @foreach (var item in ((QualificationFilterModel)Model.Filters!).SSA!)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="@item" name="@item" type="checkbox" value="@item">
                                        <label class="govuk-label govuk-checkboxes__label" for="@item">
                                            @item
                                        </label>
                                    </div>
                                }
                                
                            </div>

                        </fieldset>

                    </div>

                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="grading">
                    <span class="govuk-visually-hidden">Select filters for </span><button class="accordionItem__button" type="button">Grading type</button>
                    <div class="selected-counter"><span id="selected">0</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-grading" name="filter-grading" type="checkbox" value="graded">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-grading">
                                        Graded
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-grading-2" name="filter-grading" type="checkbox" value="passfail">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-grading-2">
                                        Pass or fail
                                    </label>

                                </div>
                            </div>

                        </fieldset>

                    </div>

                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="assessment-method">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">Assessment method</button>
                    <div class="selected-counter"><span id="selected">0</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>

                <div class="accordionContent">
                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method" name="filter-assessment-method" type="checkbox" value="aural">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method">
                                        Aural exam
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-2" name="filter-assessment-method" type="checkbox" value="coursework">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-2">
                                        Coursework
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-3" name="filter-assessment-method" type="checkbox" value="controlled-assessment">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-3">
                                        Task-based controlled assessment
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-4" name="filter-assessment-method" type="checkbox" value="E-assessment">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-4">
                                        E-assessment
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-5" name="filter-assessment-method" type="checkbox" value="exam">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-5">
                                        Written exam
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-6" name="filter-assessment-method" type="checkbox" value="multiple-choice">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-6">
                                        Multiple choice exam
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-7" name="filter-assessment-method" type="checkbox" value="oral">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-7">
                                        Oral exam
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-8" name="filter-assessment-method" type="checkbox" value="portfolio" checked="">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-8">
                                        Portfolio of evidence
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-9" name="filter-assessment-method" type="checkbox" value="practical-demo" checked="">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-9">
                                        Practical demonstration or assignment
                                    </label>

                                </div>                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-assessment-method-10" name="filter-assessment-method" type="checkbox" value="practical-exam">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-assessment-method-10">
                                        Practical exam
                                    </label>

                                </div>
                            </div>

                        </fieldset>

                    </div>

                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="national-availability">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">National availability</button>
                    <div class="selected-counter"><span id="selected">0</span> selected</div>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">
                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-national-availability" name="filter-national-availability" type="checkbox" value="england">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-national-availability">
                                        England
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-national-availability-2" name="filter-national-availability" type="checkbox" value="ni">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-national-availability-2">
                                        Northern Ireland
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="filter-national-availability-3" name="filter-national-availability" type="checkbox" value="international">
                                    <label class="govuk-label govuk-checkboxes__label" for="filter-national-availability-3">
                                        International
                                    </label>

                                </div>
                            </div>

                        </fieldset>

                    </div>

                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="glh">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">Guided learning hours</button>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">


                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="min-glh">
                            Minimum hours
                        </label>


                        <input class="govuk-input ofq-filters-small-input" id="min-glh" name="min-glh" type="number" inputmode="numeric" size="3">

                    </div>                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="max-glh">
                            Maximum hours
                        </label>


                        <input class="govuk-input ofq-filters-small-input" id="max-glh" name="max-glh" type="number" inputmode="numeric" size="3">

                    </div>

                </div>
            </div>
        </div>

        <div class="accordionExpander">
            <div class="accordionItem">
                <h3 class="accordionTitle" id="tqt">
                    <span class="govuk-visually-hidden">Select filters for </span>
                    <button class="accordionItem__button" type="button">Total qualification time</button>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                        <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                        </path>
                    </svg>
                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                        <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                        </path>
                    </svg>
                </h3>
                <div class="accordionContent">


                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="min-tqt">
                            Minimum hours
                        </label>


                        <input class="govuk-input ofq-filters-small-input" id="min-tqt" name="min-tqt" type="number" inputmode="numeric" size="3" maxlength="3">

                    </div>                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="max-tqt">
                            Maximum hours
                        </label>


                        <input class="govuk-input ofq-filters-small-input" id="max-tqt" name="max-tqt" type="number" inputmode="numeric" size="3" maxlength="3">

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <ul id="action-buttons-row" class="ofq-action-buttons--list">
            <li class="ofq-action-buttons--item">
                <a href="#!" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
                    Compare selected
                </a>
            </li>
            <li class="ofq-action-buttons--item">
                <a href="#!" role="button" draggable="false" class="govuk-button govuk-button--secondary ofq-button-row-element" data-module="govuk-button">
                    Download results as CSV
                </a>
            </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        @if (Model.List.Results == null || !Model.List.Results.Any())
        {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-s">No results</h2>
            <p class="govuk-body-m">
                There are no results for this search query. You should try adjusting your query or the filters selected.
            </p>
        }

        @if (Model.List.Results != null && Model.List.Results.Count() > 0)
        {
            @foreach (var item in Model.List.Results)
            {
                <div class="app-application-cards" aria-live="polite">
                    <section class="app-application-card">
                        <header class="app-application-card__header">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="@item.QualificationNumber" name="@item.QualificationNumber" type="checkbox" value="@item.QualificationNumber">
                                    <label class="govuk-label govuk-checkboxes__label" for="@item.QualificationNumber">
                                        @item.Title
                                </div>
                            </div>
                        </header>

                        <div class="govuk-grid-row app-grid-row--flex">
                            <div class="govuk-grid-column-two-thirds">
                                <dl class="app-application-card__list">
                                    <dd class="govuk-body-m">
                                        <a href="Qualification/@item.QualificationNumber">View qualification details</a>
                                    </dd>
                                    <br>
                                    <dt class="govuk-visually-hidden">Availability</dt>
                                    @switch (item.Status?.ToLower())
                                    {
                                        case "available to learners":
                                            <dd class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                Available to learners
                                            </dd>
                                            break;
                                        case "not yet available":
                                            <dd class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                Not yet available
                                            </dd>
                                            break;
                                        case "not available to new learners":
                                            <dd class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                Not available to new learners
                                            </dd>
                                            break;
                                        case "no longer awarded":
                                            <dd class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                No longer awarded
                                            </dd>
                                            break;
                                        default:
                                            break;
                                    }
                                    <dt class="govuk-visually-hidden">Organisation</dt>
                                    <dd class="govuk-body-s govuk-!-margin-bottom-1">@item.OrganisationName</dd>
                                    <dt class="govuk-visually-hidden">Level</dt>
                                    <dd class="govuk-body-s govuk-!-font-size-16">
                                        @item.Level
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </section>
                </div>

            }
        }

        <partial name="/Views/Shared/_PagingPartial.cshtml" model="Model.Paging" />

    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        const accordionTitles = document.querySelectorAll(".accordionTitle");

        accordionTitles.forEach(accordionTitle => {
            accordionTitle.addEventListener("click", () => {
                accordionTitle.classList.toggle("is-open");
                accordionTitle.parentElement.classList.toggle("is-open")
            })
        })

        // const accordionIcons = document.querySelectorAll(".accordionItem");

        // accordionIcons.forEach(accordionIcon => {
        //     accordionIcon.addEventListener("click", () => {
        //         accordionIcon.classList.toggle("is-open")
        //     })
        // })


        const selectedElm = document.getElementById('selected');

        function showChecked() {
            selectedElm.innerHTML = document.querySelectorAll('input[name=assessment-method]:checked').length;
        }

        document.querySelectorAll("input[name=assessment-method]").forEach(i => {
            i.onclick = () => showChecked();
        });
    </script>

}
