@using Ofqual.Common.RegisterFrontend.Models.SearchViewModels;
@model SearchResultViewModel<QualificationListViewModel>

@{
    ViewData["Title"] = "Find a regulated qualification";
    ViewData["HomePage"] = "find-regulated-qualifications";

    var appliedFilters = (QualificationAppliedFilterModel)Model.AppliedFilters!;

    var availabilityAccordion = appliedFilters.Availability != null && appliedFilters.Availability.Any() ? "is-open" : "";
    var typeAccordion = appliedFilters.QualificationTypes != null && appliedFilters.QualificationTypes.Any() ? "is-open" : "";
    var levelAccordion = appliedFilters.QualificationLevels != null && appliedFilters.QualificationLevels.Any() ? "is-open" : "";
    var orgAccordion = appliedFilters.AwardingOrganisations != null && appliedFilters.AwardingOrganisations.Any() ? "is-open" : "";
    var ssaAccordion = appliedFilters.SectorSubjectAreas != null && appliedFilters.SectorSubjectAreas.Any() ? "is-open" : "";
    var gradingTypeAccordion = appliedFilters.GradingTypes != null && appliedFilters.GradingTypes.Any() ? "is-open" : "";
    var assessAccordion = appliedFilters.AssessmentMethods != null && appliedFilters.AssessmentMethods.Any() ? "is-open" : "";
    var nationalAccordion = appliedFilters.NationalAvailability != null && appliedFilters.NationalAvailability.Any() ? "is-open" : "";
    var glhAccordion = appliedFilters.MinGuidedLearninghours != null || appliedFilters.MaxGuidedLearninghours != null ? "is-open" : "";
    var tqtAccordion = appliedFilters.MinTotalQualificationTime != null || appliedFilters.MaxTotalQualificationTime != null ? "is-open" : "";
}

@section Head {
    <noscript>
        <style>
            .accordionTitle + .accordionContent {
                display: block;
            }
        </style>
    </noscript>
}

<div class="govuk-grid-row">
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Qualification search</h1>
        <p class="govuk-body">Select all the qualifications you want to compare.</p>

        <div class="app-search govuk-!-margin-bottom-4">
            <form action="qualifications" method="get" novalidate="">
                <div class="govuk-form-group">
                    <label class="govuk-label app-search__label govuk-label--s" for="title">
                        Search for a qualification
                    </label>
                    <input class="govuk-input app-search__input " id="title" name="title" type="search" value="@Model.Title">
                    <input id="bav" name="bav" type="hidden" value="1">
                </div>
                <button class="govuk-button app-search__button" data-module="govuk-button">
                    Search
                </button>
            </form>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    </div>

    <div class="govuk-grid-column-one-third">
        @if (appliedFilters.FiltersApplied)
        {
            <div id="selectedFilters">
                <div class="app-filter__header">
                    <div class="app-filter__header-title">
                        <h2 class="govuk-heading-m">Filter</h2>
                    </div>
                    <div class="app-filter__header-action">
                    </div>
                </div>
                <div class="app-filter__selected">
                    <div class="app-filter__selected-heading">
                        <div class="app-filter__heading-title">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h3>
                            <p class="govuk-body jsonly"><a class="govuk-link govuk-link--no-visited-state" href="qualifications?title=@Model.Title&page=@Model.Paging.CurrentPage">Clear filters</a></p>
                        </div>
                    </div>

                    @if (appliedFilters.Availability != null && appliedFilters.Availability.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Availability</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.Availability)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="availability_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }
                        </ul>
                    }

                    @if (appliedFilters.QualificationTypes != null && appliedFilters.QualificationTypes.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Qualification Type</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.QualificationTypes)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="qualificationTypes_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.QualificationLevels != null && appliedFilters.QualificationLevels.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Qualification Level</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.QualificationLevels)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="qualificationLevels_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.AwardingOrganisations != null && appliedFilters.AwardingOrganisations.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Organisation</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.AwardingOrganisations)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="awardingOrganisations_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.SectorSubjectAreas != null && appliedFilters.SectorSubjectAreas.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Sector Subject Area</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.SectorSubjectAreas)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="sectorSubjectAreas_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.GradingTypes != null && appliedFilters.GradingTypes.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Grading Type</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.GradingTypes)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="gradingTypes_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.AssessmentMethods != null && appliedFilters.AssessmentMethods.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Assessment method</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.AssessmentMethods)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="assessmentMethods_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.NationalAvailability != null && appliedFilters.NationalAvailability.Any())
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">National Availability</h4>
                        <ul class="app-filter-tags">
                            @foreach (var item in appliedFilters.NationalAvailability)
                            {
                                <li>
                                    <a class="app-filter__tag removeFilter jsonly" data-checkbox="nationalAvailability_@item.Replace(' ', '_')" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @item</a>
                                    <noscript>
                                        <label class="govuk-body">@item</label>
                                    </noscript>
                                </li>
                            }

                        </ul>
                    }

                    @if (appliedFilters.MinGuidedLearninghours != null)
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Minimum guided learning hours</h4>
                        <ul class="app-filter-tags">

                            <li>
                                <a class="app-filter__tag removeIntFilter jsonly" data-box="minGuidedLearninghours" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @appliedFilters.MinGuidedLearninghours</a>
                                <noscript>
                                    <label class="govuk-body">@appliedFilters.MinGuidedLearninghours</label>
                                </noscript>
                            </li>
                        </ul>
                    }

                    @if (appliedFilters.MaxGuidedLearninghours != null)
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Maximum guided learning hours</h4>
                        <ul class="app-filter-tags">

                            <li>
                                <a class="app-filter__tag removeIntFilter jsonly" data-box="maxGuidedLearninghours" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @appliedFilters.MaxGuidedLearninghours</a>
                                <noscript>
                                    <label class="govuk-body">@appliedFilters.MaxGuidedLearninghours</label>
                                </noscript>
                            </li>
                        </ul>
                    }

                    @if (appliedFilters.MinTotalQualificationTime != null)
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Minimum total qualifiction time</h4>
                        <ul class="app-filter-tags">

                            <li>
                                <a class="app-filter__tag removeIntFilter jsonly" data-box="minTotalQualificationTime" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @appliedFilters.MinTotalQualificationTime</a>
                                <noscript>
                                    <label class="govuk-body">@appliedFilters.MinTotalQualificationTime</label>
                                </noscript>
                            </li>
                        </ul>
                    }

                    @if (appliedFilters.MaxTotalQualificationTime != null)
                    {
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Maximum total qualifiction time</h4>
                        <ul class="app-filter-tags">

                            <li>
                                <a class="app-filter__tag removeIntFilter jsonly" data-box="maxTotalQualificationTime" href="#!"><span class="govuk-visually-hidden">Remove this filter</span> @appliedFilters.MaxTotalQualificationTime</a>
                                <noscript>
                                    <label class="govuk-body">@appliedFilters.MaxTotalQualificationTime</label>
                                </noscript>
                            </li>
                        </ul>
                    }
                </div>

            </div>
        }
        <form id="qualificationsFilterForm" action="qualifications/filters" method="get">
            <input type="hidden" id="title" name="title" value="@Model.Title">

            <div class="accordionExpander">
                <div class="accordionItem @availabilityAccordion">
                    <h3 class="accordionTitle @availabilityAccordion" id="availability">

                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">Availability</button>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @{
                                        string available = "", notAwarded = "", notAvailable = "", notYetAvailable = "";
                                        @if (appliedFilters.Availability != null && appliedFilters.Availability.Any())
                                        {
                                            available = appliedFilters.Availability.Contains("Available to learners") ? "checked" : "";
                                            notAwarded = appliedFilters.Availability.Contains("No longer awarded") ? "checked" : "";
                                            notAvailable = appliedFilters.Availability.Contains("No longer available to new learners") ? "checked" : "";
                                            notYetAvailable = appliedFilters.Availability.Contains("Not yet available to learners") ? "checked" : "";
                                        }
                                    }

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="availability_Available_to_learners" name="availability" type="checkbox" value="Available to learners" @available>
                                        <label class="govuk-label govuk-checkboxes__label" for="availability_Available_to_learners">
                                            Available to learners
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="availability_No_longer_awarded" name="availability" type="checkbox" value="No longer awarded" @notAwarded>
                                        <label class="govuk-label govuk-checkboxes__label" for="availability_No_longer_awarded">
                                            No longer awarded
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="availability_No_longer_available_to_new_learners" name="availability" type="checkbox" value="No longer available to new learners" @notAvailable>
                                        <label class="govuk-label govuk-checkboxes__label" for="availability_No_longer_available_to_new_learners">
                                            No longer available to new learners
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="availability_Not_yet_available_to_learners" name="availability" type="checkbox" value="Not yet available to learners" @notYetAvailable>
                                        <label class="govuk-label govuk-checkboxes__label" for="availability_Not_yet_available_to_learners">
                                            Not yet available to learners
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @typeAccordion">
                    <h3 class="accordionTitle @typeAccordion" id="qual-type">
                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">Qualification type</button>
                        <div class="selected-counter"><span id="selected">0</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @foreach (var item in ((QualificationFilterModel)Model.Filters!).QualificationTypes!)
                                    {
                                        string qapplied = "";
                                        if (appliedFilters.QualificationTypes != null && appliedFilters.QualificationTypes.Any())
                                        {
                                            qapplied = appliedFilters.QualificationTypes.Contains(item) ? "checked" : "";
                                        }

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="qualificationTypes_@item.Replace(' ', '_')" name="qualificationTypes" type="checkbox" value="@item" @qapplied>
                                            <label class="govuk-label govuk-checkboxes__label" for="qualificationTypes_@item.Replace(' ', '_')">
                                                @item
                                            </label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @levelAccordion">
                    <h3 class="accordionTitle @levelAccordion" id="qualification-level">
                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">Qualification level</button>
                        <div class="selected-counter"><span id="selected">0</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @foreach (var item in ((QualificationFilterModel)Model.Filters!).QualificationLevels!)
                                    {
                                        string qlapplied = "";
                                        if (appliedFilters.QualificationLevels != null && appliedFilters.QualificationLevels.Any())
                                        {
                                            qlapplied = appliedFilters.QualificationLevels.Contains(item) ? "checked" : "";
                                        }

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="qualificationLevels_@item.Replace(' ', '_')" name="qualificationLevels" type="checkbox" value="@item" @qlapplied>
                                            <label class="govuk-label govuk-checkboxes__label" for="qualificationLevels_@item.Replace(' ', '_')">
                                                @item
                                            </label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @orgAccordion">
                    <h3 class="accordionTitle @orgAccordion" id="organisation">
                        <span class="govuk-visually-hidden">Select filters for </span><button class="accordionItem__button" type="button">Organisation</button>
                        <div class="selected-counter"><span id="selected">0</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @foreach (var item in ((QualificationFilterModel)Model.Filters!).Organisations!)
                                    {
                                        string oapplied = "";
                                        if (appliedFilters.AwardingOrganisations != null && appliedFilters.AwardingOrganisations.Any())
                                        {
                                            oapplied = appliedFilters.AwardingOrganisations.Contains(item) ? "checked" : "";
                                        }
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="awardingOrganisations_@item.Replace(' ', '_')" name="awardingOrganisations" type="checkbox" value="@item" @oapplied>
                                            <label class="govuk-label govuk-checkboxes__label" for="awardingOrganisations_@item.Replace(' ', '_')">
                                                @item
                                            </label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @ssaAccordion">
                    <h3 class="accordionTitle @ssaAccordion" id="sector subject area">
                        <span class="govuk-visually-hidden">Select filters for </span><button class="accordionItem__button" type="button">Sector subject area</button>
                        <div class="selected-counter"><span id="selected">1</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @foreach (var item in ((QualificationFilterModel)Model.Filters!).SSA!)
                                    {
                                        string ssaapplied = "";
                                        if (appliedFilters.SectorSubjectAreas != null && appliedFilters.SectorSubjectAreas.Any())
                                        {
                                            ssaapplied = appliedFilters.SectorSubjectAreas.Contains(item) ? "checked" : "";
                                        }
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="sectorSubjectAreas_@item.Replace(' ', '_')" name="sectorSubjectAreas" type="checkbox" value="@item" @ssaapplied>
                                            <label class="govuk-label govuk-checkboxes__label" for="sectorSubjectAreas_@item.Replace(' ', '_')">
                                                @item
                                            </label>
                                        </div>
                                    }

                                </div>

                            </fieldset>

                        </div>

                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @gradingTypeAccordion">
                    <h3 class="accordionTitle @gradingTypeAccordion" id="grading">
                        <span class="govuk-visually-hidden">Select filters for </span><button class="accordionItem__button" type="button">Grading type</button>
                        <div class="selected-counter"><span id="selected">0</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                    @{
                                        string graded = "", passfail = "";
                                        @if (appliedFilters.GradingTypes != null && appliedFilters.GradingTypes.Any())
                                        {
                                            graded = appliedFilters.GradingTypes.Contains("Graded") ? "checked" : "";
                                            passfail = appliedFilters.GradingTypes.Contains("Pass/Fail") ? "checked" : "";
                                        }

                                    }
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="gradingTypes_Graded" name="gradingTypes" type="checkbox" value="Graded" @graded>
                                        <label class="govuk-label govuk-checkboxes__label" for="gradingTypes_Graded">
                                            Graded
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="gradingTypes_Pass/Fail" name="gradingTypes" type="checkbox" value="Pass/Fail" @passfail>
                                        <label class="govuk-label govuk-checkboxes__label" for="gradingTypes_Pass/Fail">
                                            Pass/Fail
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @assessAccordion">
                    <h3 class="accordionTitle @assessAccordion" id="assessment-method">
                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">Assessment method</button>
                        <div class="selected-counter"><span id="selected">0</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>

                    <div class="accordionContent">
                        <div class="govuk-form-group">

                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @foreach (var item in ((QualificationFilterModel)Model.Filters!).AssessmentMethods!)
                                    {
                                        string assmapplied = "";
                                        if (appliedFilters.AssessmentMethods != null && appliedFilters.AssessmentMethods.Any())
                                        {
                                            assmapplied = appliedFilters.AssessmentMethods.Contains(item) ? "checked" : "";
                                        }
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="assessmentMethods_@item.Replace(' ', '_')" name="assessmentMethods" type="checkbox" value="@item" @assmapplied>
                                            <label class="govuk-label govuk-checkboxes__label" for="assessmentMethods_@item.Replace(' ', '_')">
                                                @item
                                            </label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @nationalAccordion">
                    <h3 class="accordionTitle @nationalAccordion" id="national-availability">
                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">National availability</button>
                        <div class="selected-counter"><span id="selected">0</span> selected</div>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        <div class="govuk-form-group">

                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    @{
                                        string eng = "", ni = "", inter = "";
                                        @if (appliedFilters.NationalAvailability != null && appliedFilters.NationalAvailability.Any())
                                        {
                                            eng = appliedFilters.NationalAvailability.Contains("England") ? "checked" : "";
                                            ni = appliedFilters.NationalAvailability.Contains("Northern Ireland") ? "checked" : "";
                                            inter = appliedFilters.NationalAvailability.Contains("International") ? "checked" : "";
                                        }

                                    }
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="nationalAvailability_England" name="nationalAvailability" type="checkbox" value="England" @eng>
                                        <label class="govuk-label govuk-checkboxes__label" for="nationalAvailability_England">
                                            England
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="nationalAvailability_Northern_Ireland" name="nationalAvailability" type="checkbox" value="Northern Ireland" @ni>
                                        <label class="govuk-label govuk-checkboxes__label" for="nationalAvailability_Northern_Ireland">
                                            Northern Ireland
                                        </label>

                                    </div>

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="nationalAvailability_International" name="nationalAvailability" type="checkbox" value="International" @inter>
                                        <label class="govuk-label govuk-checkboxes__label" for="nationalAvailability_International">
                                            International
                                        </label>

                                    </div>
                                </div>

                            </fieldset>

                        </div>

                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @glhAccordion">
                    <h3 class="accordionTitle @glhAccordion" id="glh">
                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">Guided learning hours</button>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        @{
                            string minglh = "", maxglh = "";
                            @if (appliedFilters.MinGuidedLearninghours != null)
                            {
                                minglh = appliedFilters.MinGuidedLearninghours?.ToString();
                            }

                            @if (appliedFilters.MaxGuidedLearninghours != null)
                            {
                                maxglh = appliedFilters.MaxGuidedLearninghours?.ToString();
                            }
                        }

                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="minGuidedLearninghours">
                                Minimum hours
                            </label>
                            <input class="govuk-input ofq-filters-small-input focusOutFilters" id="minGuidedLearninghours" name="minGuidedLearninghours" type="number" inputmode="numeric" size="3" value="@minglh">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="maxGuidedLearninghours">
                                Maximum hours
                            </label>
                            <input class="govuk-input ofq-filters-small-input focusOutFilters" id="maxGuidedLearninghours" name="maxGuidedLearninghours" type="number" inputmode="numeric" size="3" value="@maxglh">
                        </div>

                    </div>
                </div>
            </div>

            <div class="accordionExpander">
                <div class="accordionItem @tqtAccordion">
                    <h3 class="accordionTitle @tqtAccordion" id="tqt">
                        <span class="govuk-visually-hidden">Select filters for </span>
                        <button class="accordionItem__button" type="button">Total qualification time</button>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
                            <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                            </path>
                        </svg>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
                            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                            </path>
                        </svg>
                    </h3>
                    <div class="accordionContent">
                        @{
                            string mintqt = "", maxtqt = "";
                            @if (appliedFilters.MinTotalQualificationTime != null)
                            {
                                mintqt = appliedFilters.MinTotalQualificationTime?.ToString();
                            }
                            @if (appliedFilters.MaxTotalQualificationTime != null)
                            {
                                maxtqt = appliedFilters.MaxTotalQualificationTime?.ToString();
                            }
                        }

                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="minTotalQualificationTime">
                                Minimum hours
                            </label>
                            <input class="govuk-input ofq-filters-small-input focusOutFilters" id="minTotalQualificationTime" name="minTotalQualificationTime" type="number" inputmode="numeric" size="3" maxlength="3" value="@mintqt">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="maxTotalQualificationTime">
                                Maximum hours
                            </label>
                            <input class="govuk-input ofq-filters-small-input focusOutFilters" id="maxTotalQualificationTime" name="maxTotalQualificationTime" type="number" inputmode="numeric" size="3" maxlength="3" value="@maxtqt">
                        </div>
                    </div>
                </div>
            </div>
            <noscript>
                <button type="submit" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
                    Search
                </button>
                <a class="govuk-button govuk-button--secondary ofq-button-row-element" href="qualifications?title=@Model.Title&page=@Model.Paging.CurrentPage">Clear filters</a>
            </noscript>
        </form>
    </div>

    <div class="govuk-grid-column-two-thirds">

        @if (Model.List.Results == null || !Model.List.Results.Any())
        {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-s">No results</h2>
            <p class="govuk-body-m">
                There are no results for this search query. You should try adjusting your query or the filters selected.
            </p>
        }

        @if (Model.List.Results != null && Model.List.Results.Count() > 0)
        {
            <form action="/qualifications/compare-qualifications" id="compareQualifications" method="get" onsubmit="appendSelectedQuals()">
                <ul id="action-buttons-row" class="ofq-action-buttons--list">
                    <li class="ofq-action-buttons--item">
                        <button draggable="false" name="Compare" class="govuk-button govuk-button--primary" data-module="govuk-button" type="submit">
                            Compare selected
                        </button>
                    </li>
                    <li class="ofq-action-buttons--item">
                        <button draggable="false" name="CSV" class="govuk-button govuk-button--secondary ofq-button-row-element" data-module="govuk-button" type="submit">
                            Download selected results as CSV
                        </button>
                    </li>
                </ul>
                <input type="hidden" id="title" name="title" value="@Model.Title" />
                <input type="hidden" id="selectedQuals" name="selectedQuals" value="" />

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                @foreach (var item in Model.List.Results)
                {
                    <div class="app-application-cards" aria-live="polite">
                        <section class="app-application-card">
                            <header class="app-application-card__header">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="qualificationTypes_@item.QualificationNumber" name="QualificationNumbers" type="checkbox" value="@item.QualificationNumber">
                                        <label class="govuk-label govuk-checkboxes__label" for="qualificationTypes_@item.QualificationNumber">
                                            @item.Title
                                        </label>
                                    </div>
                                </div>
                            </header>

                            <div class="govuk-grid-row app-grid-row--flex">
                                <div class="govuk-grid-column-two-thirds">
                                    <dl class="app-application-card__list">
                                        <dd class="govuk-body-m">
                                            <a href="qualifications/@item.QualificationNumber">View qualification details</a>
                                        </dd>
                                        <br>
                                        <dt class="govuk-visually-hidden">Availability</dt>
                                        @switch (item.Status?.ToLower())
                                        {
                                            case "available to learners":
                                                <dd class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                    Available to learners
                                                </dd>
                                                break;
                                            case "not yet available to learners":
                                                <dd class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                    Not yet available to learners
                                                </dd>
                                                break;
                                            case "no longer available to new learners":
                                                <dd class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                    No longer available to new learners
                                                </dd>
                                                break;
                                            case "no longer awarded":
                                                <dd class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-1 govuk-!-font-size-14">
                                                    No longer awarded
                                                </dd>
                                                break;
                                            default:
                                                break;
                                        }
                                        <dt class="govuk-visually-hidden">Organisation</dt>
                                        <dd class="govuk-body-s govuk-!-margin-bottom-1">@item.OrganisationName</dd>
                                        <dt class="govuk-visually-hidden">Level</dt>
                                        <dd class="govuk-body-s govuk-!-font-size-16">
                                            @item.Level
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </section>
                    </div>
                }
            </form>
        }

        <partial name="/Views/Shared/_PagingPartial.cshtml" model="Model.Paging" />

    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        const accordionTitles = document.querySelectorAll(".accordionTitle");

        accordionTitles.forEach(accordionTitle => {
            accordionTitle.addEventListener("click", () => {
                accordionTitle.classList.toggle("is-open");
                accordionTitle.parentElement.classList.toggle("is-open")
            })
        })

        var queryFiltersForm = document.querySelector('#qualificationsFilterForm')

        queryFiltersForm.querySelectorAll('input[type="checkbox"]').forEach(i => {
            i.onchange = () => { queryFiltersForm.submit() }
        });

        @if (appliedFilters.FiltersApplied)
        {
            <text>
                document.getElementById('selectedFilters').style.display = 'block';
            </text>
        }

                                        var selectedFilters = document.getElementsByClassName("removeFilter");

        for (var i = 0; i < selectedFilters.length; i++) {
            selectedFilters[i].addEventListener('click', function () {
                var cBox = document.getElementById(this.getAttribute("data-checkbox"));

                if (cBox.checked) {
                    cBox.checked = false;
                } else {
                    cBox.checked = true;
                }
                queryFiltersForm.submit()
            }, false);
        }

        var selectedIntFilters = document.getElementsByClassName("removeIntFilter");

        for (var i = 0; i < selectedIntFilters.length; i++) {
            selectedIntFilters[i].addEventListener('click', function () {
                var box = document.getElementById(this.getAttribute("data-box"));
                box.value = "";
                queryFiltersForm.submit()
            }, false);
        }

        var focusOutElements = document.getElementsByClassName("focusOutFilters");

        for (var i = 0; i < focusOutElements.length; i++) {
            focusOutElements[i].addEventListener('focusout', function () {
                queryFiltersForm.submit()
            }, false);
        }

        var selectedQualsForm = document.querySelector('#compareQualifications');

        var selectedQuals = new Set();

        if (localStorage.getItem("selectedQuals")) {
            selectedQualsArr = JSON.parse(localStorage.getItem("selectedQuals"));
            selectedQuals = new Set([...selectedQualsArr]);

            selectedQualsArr.forEach((i) => {
                var cbx = document.getElementById("qualificationTypes_" + i);
                if (cbx) {
                    cbx.checked = true;
                }
            });
        }

        selectedQualsForm.querySelectorAll('input[type="checkbox"]').forEach(i => {
            i.onchange = () => {
                if (i.checked) {
                    var qualsArr = [...selectedQuals];
                    qualsArr.splice(0, 0, i.value);
                    selectedQuals = [...qualsArr]
                } else {
                    selectedQuals.delete(i.value);
                }

                //i.checked ? selectedQuals.add(i.value) : selectedQuals.delete(i.value);
                localStorage.setItem("selectedQuals", JSON.stringify([...selectedQuals]));
            }
        });

        function appendSelectedQuals() {
            var selectedCompareQuals = document.getElementById("selectedQuals");

            selectedCompareQuals.value = JSON.parse(localStorage.getItem("selectedQuals"));
        }

    </script>

}
