@using Ofqual.Common.RegisterFrontend.Models.RegisterModels;
@using Ofqual.Common.RegisterFrontend.Extensions;
@model Organisation
@{
    ViewData["Title"] = $"{Model.Name} - Find a regulated awarding organisation";
    ViewData["HeaderTitle"] = "Find a regulated awarding organisation";
    ViewData["HomePage"] = "find-regulated-organisations";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">
            @Model.Name
        </h1>

        <a href="/qualifications?awardingOrganisations=@Model.Name.ToURL()&availability=@("Available to learners".ToURL())" class="govuk-button" data-module="govuk-button">Find all @Model.Acronym qualifications</a>

        @if (!(Model.Website == null && Model.ContactEmail == null))
        {
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Contact details</h2></div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        @if (Model.ContactEmail.IsNotNull())
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a>
                                </dd>
                            </div>
                        }
                        @if (Model.Website.IsNotNull())
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Website
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="@Model.Website">@Model.LegalName</a>
                                </dd>
                            </div>
                        }
                        @if (Model.FeesUrl.IsNotNull())
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Pricing and fees
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="@Model.FeesUrl">Qualification fees and prices</a>
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>
        }

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Ofqual recognition</h2></div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">

                    @if (Model.OfqualOrganisationStatus.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @switch (Model.OfqualOrganisationStatus?.ToLower())
                                {
                                    case "surrendered":
                                        <strong class="govuk-tag govuk-tag--purple">
                                            Surrendered
                                        </strong>
                                        break;
                                    case "withdrawn":
                                        <strong class="govuk-tag govuk-tag--blue">
                                            Withdrawn
                                        </strong>
                                        break;
                                    case "recognised":
                                        <strong class="govuk-tag govuk-tag--green">
                                            Recognised
                                        </strong>
                                        break;
                                    case "never been recognised":
                                        <strong class="govuk-tag govuk-tag--grey">
                                            Never recognised
                                        </strong>
                                        break;
                                    default:
                                        break;
                                }
                            </dd>

                        </div>
                    }

                    @if (Model.OfqualRecognisedOn != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Recognised from
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <time datetime="@Model.OfqualRecognisedOn?.ToString("yyyy-MM-dd")" lang="en">@Model.OfqualRecognisedOn?.ToString("dd MMMM yyyy")</time>
                                @if (Model.OfqualRecognisedTo is not null)
                                {
                                    <text> to </text>
                                    <time datetime="@Model.OfqualRecognisedTo?.ToString("yyyy-MM-dd")" lang="en">@Model.OfqualRecognisedTo?.ToString("dd MMMM yyyy")</time>

                                }
                            </dd>

                        </div>
                    }


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Recognition number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.RecognitionNumber
                        </dd>

                    </div>


                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">CCEA recognition</h2></div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">


                    @if (Model.CceaOrganisationStatus.IsNotNull())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @switch (Model.CceaOrganisationStatus?.ToLower())
                                {
                                    case "surrendered":
                                        <strong class="govuk-tag govuk-tag--purple">
                                            Surrendered
                                        </strong>
                                        break;
                                    case "withdrawn":
                                        <strong class="govuk-tag govuk-tag--blue">
                                            Withdrawn
                                        </strong>
                                        break;
                                    case "recognised":
                                        <strong class="govuk-tag govuk-tag--green">
                                            Recognised
                                        </strong>
                                        break;
                                    case "never been recognised":
                                        <strong class="govuk-tag govuk-tag--grey">
                                            Never recognised
                                        </strong>
                                        break;
                                    default:
                                        break;
                                }
                            </dd>

                        </div>
                    }


                    @if (Model.CceaRecognisedOn != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Recognised from
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <time datetime="@Model.CceaRecognisedOn?.ToString("yyyy-MM-dd")" lang="en">@Model.CceaRecognisedOn?.ToString("dd MMMM yyyy")</time>
                                @if (Model.CceaRecognisedTo is not null)
                                {
                                    <text> to </text>
                                    <time datetime="@Model.CceaRecognisedTo?.ToString("yyyy-MM-dd")" lang="en">@Model.CceaRecognisedTo?.ToString("dd MMMM yyyy")</time>

                                }
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Recognition number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.RecognitionNumber
                        </dd>
                    </div>

                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Organisation details</h2></div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Name
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legal name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.LegalName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Known as
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Acronym
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        @if (Model.RecognitionScope != null && (Model.RecognitionScope.Inclusions.Any() || Model.RecognitionScope.Exclusions.Any()))
        {
            <!-- Display scope of recognition -->
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title" id="sor">Scope of recognition</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <p class="govuk-body">@Model.Name is recognised to offer regulated qualifications within the following qualification types, levels, and subject areas or apprenticeship standards.</p>
                    <div class="govuk-inset-text">
                        You can expand the list by selecting a qualification type
                    </div>
                    @if (Model.RecognitionScope.Inclusions.Any())
                    {
                        <ul class="ofq-tree" id="scope-tree" role="tree" aria-labelledby="sor-title">

                            @foreach (var type in Model.RecognitionScope.Inclusions)
                            {
                                <li role="treeitem">
                                    <details>
                                        <summary class="govuk-body ofq-tree-parent-node" aria-expanded="false" aria-controls="@type.Type.Hiphenate()-list" aria-owns="@type.Type.Hiphenate()-list">
                                            @type.Type
                                        </summary>
                                        <ul id="@type.Type.Hiphenate()-list" role="group">
                                            @foreach (var level in type.Levels)
                                            {
                                                <li role="treeitem">
                                                    <details>
                                                        <summary class="govuk-body ofq-tree-parent-node" aria-expanded="false" aria-controls="@type.Type.Hiphenate()-@level.Level.EscapeSpaces()-list" aria-owns="@type.Type.Hiphenate()-@level.Level.EscapeSpaces()-list">
                                                            @level.Level
                                                        </summary>
                                                        <ul id="@type.Type.Hiphenate()-@level.Level.EscapeSpaces()-list">
                                                            @foreach (var recognition in level.Recognitions)
                                                            {
                                                                <li class="govuk-body" role="treeitem">@recognition</li>
                                                            }
                                                        </ul>
                                                    </details>
                                                </li>
                                            }

                                        </ul>
                                    </details>
                                </li>

                            }
                        </ul>
                    }
                    @if (Model.RecognitionScope.Exclusions.Any())
                    {
                        <h3 id="exclusion-title" class="govuk-heading-s">The following @Model.Name qualifications are not regulated</h3>
                        <ul class="ofq-tree" id="exclusion-tree" role="tree" aria-labelledby="exclusion-title">
                            <li>
                                <details>
                                    <summary class="govuk-body ofq-tree-parent-node" aria-expanded="false" aria-controls="x-Unregulatedqualifications-list" role="treeitem">
                                        Unregulated qualifications
                                    </summary>
                                    <ul id="x-Unregulatedqualifications-list">
                                        @foreach (var qual in Model.RecognitionScope.Exclusions)
                                        {
                                            <li class="govuk-body"><div role="treeitem">@qual</div></li>
                                        }
                                    </ul>
                                </details>
                            </li>
                        </ul>
                    }

                    <a href="/Organisations/download-scopes-CSV/@Model.RecognitionNumber" role="button" draggable="false" class="govuk-button govuk-button--secondary matomo_download" data-module="govuk-button">
                        Download scope of recognition CSV file
                    </a>

                </div>
            </div>
        }
    </div>
</div>
